::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #726e6e;
  border: 0px none #ffffff;
  border-radius: 11px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8000ff;
}
::-webkit-scrollbar-thumb:active {
  background: #5b00b8;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border: 0px none #ffffff;
  border-radius: 17px;
}
::-webkit-scrollbar-track:hover {
  background: #9e9e9e;
}
::-webkit-scrollbar-track:active {
  background: #9e9e9e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
html {
    --color-white: #ffffff;
    --color-dark: #1a1a1a;
    --color-accent: rgb(128, 0, 255);
    --color-accent-hover: #5b00b8;
    --color-primary: #00ffd0;
    --color-secondary: #2675f5;
}
body {
    background: var(--color-dark);
    color: var(--color-white);
}
legend {
    color: var(--color-primary);
    text-transform: uppercase;
}
fieldset {
    border: 1px solid #999;
    padding: 1rem;
    margin-bottom: 1rem;
}
.form-control, .form-select, .table, tr, td {
    background: var(--color-dark) !important;
    color: var(--color-white) !important;
}
input::placeholder, textarea::placeholder {
    color: #666 !important;
}
.form-floating label {
    color: #666 !important;
}
.form-floating label::after {
    background: none !important;
}
input[role='switch'] + label:before {
    content: 'No'
}
input[role='switch']:checked + label:before {
    content: 'Yes'
}
.hide {
    display: none;
}
.form-check-input:checked {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(128,0,255,.25);
}
.autocomplete-result {
    background: var(--color-dark);
    color: var(--color-white);
    box-shadow: 0 0 0 0.25rem rgba(128,0,255,.25);
}
.autocomplete-result .btn {
    color: var(--color-white) !important;
}